* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd5c2;
  font-family: "Century Gothic";
  text-decoration: none;
  height: 70px;
}

nav :hover {
  color: #588b8b;
  transition: all 0.2s ease 0s;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 150%;
}

span {
  font-weight: 1500;
  background-color: #f28f3b;
  border-radius: 50%;
  margin-right: 5px;
}

.home {
  font-size: 35px;
}

/* PEOPLE */

h1 {
  font-size: 300%;
  font-family: "Century Gothic";
  text-align: center;
  margin: 3% auto;
  background-color: #588b8b;
  color: white;
}

img {
  margin: 3% auto;
  width: 25%;
  margin-bottom: 1%;
}

.bilder {
  display: flex;
  align-self: center;
  align-items: center;
}

.bild-andreas {
  display: flex;
  flex-wrap: wrap;
  border: #588b8b solid;
}

.img-andreas {
  border: #f28f3b solid;
  padding: 1%;
  width: 30%;
}

.Lovisa {
  display: flex;
  width: 25%;
  margin: 3%;
  flex-wrap: wrap;
}

.Lovisa h1 {
  font-size: 30px;
  margin-bottom: 5%;
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.Lovisa p {
  background-color: #ffd5c2;
  font-size: 20px;
  font-family: "Candara";
}

.Andreas {
  display: flex;
  width: 25%;
  margin: 3%;
  flex-wrap: wrap;
}

.Andreas h1 {
  font-size: 30px;
  margin-bottom: 5%;
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.Andreas p {
  font-size: 20px;
  font-family: "Candara";
}

.Tobias {
  display: flex;
  width: 25%;
  margin: 3%;
  flex-wrap: wrap;
}

.Tobias h1 {
  font-size: 30px;
  margin-bottom: 5%;
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.Tobias p {
  background: #ffd5c2;
  font-size: 20px;
  font-family: "Candara";
}

/* OTHER */

.fakta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questi h1 {
  background-color: #588b8b;
  font-size: 35px;
}

.telefon {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10%;
  width: 80%;
  justify-content: space-between;
}

.telefon span {
  font-size: 30px;
  font-family: "Century Gothic";
  background-color: transparent;
}

.line1 {
  width: 70%;
  margin: auto;
  height: 2px;
  border-color: black;
  background-color: black;
}

.line2 {
  width: 51%;
  margin: auto;
  height: 2px;
  border-color: black;
  background-color: black;
}

.line3 {
  width: 50%;
  margin: auto;
  height: 2px;
  border-color: black;
  background-color: black;
}

.line4 {
  width: 61%;
  margin: auto;
  height: 2px;
  border-color: black;
  background-color: black;
}

.fråga0 {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 5%;
}

.fråga1 {
  display: flex;
  border: solid #588b8b 5px;
  box-shadow: 4px 4px rgb(20, 70, 61);
  width: 35%;
  flex-wrap: wrap;
}

.fråga1 h2 {
  font-family: "Century Gothic";
  font-size: 30px;
  margin-bottom: 15px;
  margin: 5px;
}

.fråga1 p {
  font-family: "Candara";
  font-size: 20px;
  margin: 5px;
}

.fråga01 {
  width: 60%;
}

.fråga2 {
  display: flex;
  border: solid #f28f3b 5px;
  flex-wrap: wrap;
  margin-bottom: 2%;
  box-shadow: 4px 4px rgb(187, 99, 26);
}

.fråga2 h2 {
  font-family: "Century Gothic";
  font-size: 30px;
  margin-bottom: 15px;
  margin: 5px;
}

.fråga2 p {
  font-family: "Candara";
  font-size: 20px;
  margin: 5px;
}

.fråga02 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.fråga3 {
  display: flex;
  flex-wrap: wrap;
  border: solid #ffd5c2 5px;
  box-shadow: 4px 4px rgb(247, 188, 160);
  width: 48%;
}

.fråga3 h2 {
  font-family: "Century Gothic";
  font-size: 30px;
  margin-bottom: 15px;
  margin: 5px;
}

.fråga3 p {
  font-family: "Candara";
  font-size: 20px;
  margin: 5px;
}

.fråga4 {
  display: flex;
  flex-wrap: wrap;
  border: solid #c8553d 5px;
  box-shadow: 4px 4px rgb(117, 39, 23);
  width: 48%;
}

.fråga4 h2 {
  font-family: "Century Gothic";
  font-size: 30px;
  margin-bottom: 15px;
  margin: 5px;
}

.fråga4 p {
  font-family: "Candara";
  font-size: 20px;
  margin: 5px;
}
