* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd5c2;
  font-family: "Century Gothic";
  text-decoration: none;
  height: 70px;
}

nav :hover {
  color: #588b8b;
  transition: all 0.2s ease 0s;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 150%;
}

span {
  font-weight: 1500;
  background-color: #f28f3b;
  border-radius: 50%;
  margin-right: 5px;
}

.home {
  font-size: 35px;
}

/* SITE */

.site {
  display: flex;
}

/* VÄNSTER */

.skrivin {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  background-color: #ffd5c2;
}

.line11 {
  width: 90%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 3%;
  height: 2px;
  border-color: black;
  background-color: black;
}

.line12 {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 2px;
  border-color: black;
  background-color: black;
}

.buttons {
  display: flex;
  align-self: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 90%;
  justify-content: space-evenly;
}

.but {
  font-size: 40px;
  color: transparent;
  border-radius: 50%;
  background-color: white;
  border: solid transparent;
}

.but:hover {
  border: solid #f28f3b;
  box-shadow: 0px 15px 20px rgba(255, 145, 0, 0.8);
}

.but1 {
  font-size: 40px;
  color: transparent;
  border-radius: 50%;
  background-color: white;
  border: solid black;
  box-shadow: 0px 15px 20px rgba(100, 100, 100, 0.8);
}

.but1:hover {
  border: solid #f28f3b;
  box-shadow: 0px 15px 20px rgba(225, 145, 0, 0.8);
}

.but2 {
  font-size: 11px;
  font-weight: 700;
  font-family: "Century Gothic";
  border-radius: 50%;
  background-color: gray;
  border: solid transparent;
}

.but2:hover {
  border: solid #c8553d;
  box-shadow: 0px 15px 20px rgba(200, 85, 61, 0.8);
}

.skriv {
  flex-direction: column;
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 4%;
}

p {
  font-size: 15px;
  font-family: "Century Gothic";
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: solid 1px;
  font-family: "Century Gothic";
}

input:focus {
  outline: solid #588b8b;
  transition: all 0.1s ease 0s;
}

label {
  width: 100%;
}

.image1 {
  background-color: white;
}

/* CV */

.cv {
  display: flex;
  border: solid 3px;
  margin: auto;
  height: 90%;
  width: 60%;
}

.uppe {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
