* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd5c2;
  font-size: 40px;
  font-family: "Century Gothic";
}
