* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd5c2;
  font-size: 40px;
  font-family: "Century Gothic";
  text-decoration: none;
  height: 70px;
}

nav :hover {
  color: #588b8b;
  transition: all 0.2s ease 0s;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

span {
  font-size: 40px;
  font-weight: 1500;
  text-decoration: underline;
}

h1 {
  font-size: 50px;
  align-self: center;
  margin-top: 60px;
  font-family: "Century Gothic";
  text-align: center;
}

.line1 {
  width: 10%;
  height: 2px;
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  border-color: #f28f3b;
  background-color: #f28f3b;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10% auto;
  font-family: "Candara";
  align-self: center auto;
  width: 40%;
  align-content: center;
  border-color: black;
  border-style: solid;
}

h2 {
  margin-top: 10px;
  font-size: 35px;
}

h3 {
  font-size: 25px;
  align-self: center;
}

.line2 {
  width: 20%;
  height: 2px;
  margin: 10px auto;
  border-color: black;
  background: black;
}
