* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd5c2;
  font-family: "Century Gothic";
  text-decoration: none;
  height: 70px;
}

nav :hover {
  color: #588b8b;
  transition: all 0.2s ease 0s;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 150%;
}

span {
  font-weight: 1500;
  background-color: #f28f3b;
  border-radius: 50%;
  margin-right: 5px;
}

.home {
  font-size: 35px;
}

/* SITE */

.varför {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 3%;
  justify-content: space-between;
  align-items: center;
}

.varför h1 {
  font-family: "Century Gothic";
  font-size: 40px;
  background-color: #c8553d;
  width: 60%;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.varför h2 {
  background-color: #c8553d;
  border-radius: 60px;
  font-size: 40px;
  color: transparent;
  margin: 5px;
}

.varför p {
  background-color: #c8553d;
  color: transparent;
  border-radius: 60px;
  font-size: 30px;
  height: 70%;
  margin: 10px;
}

.line1 {
  width: 65%;
  margin: auto;
  margin-top: 2%;
  height: 3px;
  border-color: black;
  background-color: black;
}

.line10 {
  border: black solid;
  background-color: black;
  width: 0.1%;
  height: 1400px;
  margin: auto;
  margin-top: 0%;
}

.uppvisningscvn {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}

.nr1 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.nr2 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

/* CV 2 */

.cv2 {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-wrap: wrap;
  border: solid #ffd5c2 5px;
  width: 100%;
}

.namn {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

.namnojobb {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
}

.cv2 h1 {
  font-family: "Century Gothic";
  margin: 5px;
  text-align: center;
}

.svet {
  width: 90%;
  display: flex;
  margin: auto;
  color: #f28f3b;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.yrkeokontakt {
  display: flex;
  flex-wrap: wrap;
}

.yrkeokontakt p {
  text-align: left;
  font-family: "Candara";
}

.yrkeokontakt h1 {
  text-align: left;
  margin: 0%;
  text-decoration: underline;
  color: #c8553d;
  font-family: "Candara";
  font-size: 15px;
}

.svet img {
  margin-top: 0%;
  width: 30%;
}

.svet h1 {
  font-size: 20px;
}

.line3 {
  width: 70%;
  margin: auto;
  margin-right: 2%;
  height: 3px;
  border-color: black;
  background-color: black;
}

.line5 {
  width: 70%;
  margin: auto;
  margin-top: 1%;
  height: 3px;
  border-color: black;
  background-color: black;
}

.Sara {
  margin: 4%;
  height: 20%;
  border: dotted 5px black;
}

.utbildning2 {
  display: flex;
  border: solid blue;
  height: 20%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.utbildning2 p {
  font-size: 20px;
  color: black;
  font-family: "Candara";
}

.utbildning2 h2 {
  margin: 0%;
  font-size: 15px;
  color: #c8553d;
  font-family: "Candara";
}

/* INFO 1 */

.info1 {
  display: flex;
  flex-wrap: wrap;
  border: solid #c8553d 5px;
}

.info1 h1 {
  font-family: "Century Gothic";
  text-decoration: underline;
  font-size: 30px;
  margin: 2%;
}
.info1 p {
  font-family: "Candara";
  font-size: 17px;
  margin: 5px;
}

/* INFO 2 */

.info2 {
  display: flex;
  flex-wrap: wrap;
  border: solid #c8553d 5px;
}

.info2 h1 {
  font-family: "Century Gothic";
  text-decoration: underline;
  font-size: 30px;
  margin: 2%;
}
.info2 p {
  font-family: "Candara";
  font-size: 17px;
  margin: 5px;
}

/* CV 1 */

.cv1 {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  border: #f28f3b solid 5px;
  width: 100%;
}

.uppvisningscv {
  display: flex;
  flex-wrap: nowrap;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  font-family: "Candara";
  align-self: center auto;
  align-content: center;
}

h2 {
  margin-top: 10px;
  font-size: 35px;
  align-self: center;
}

h3 {
  font-size: 25px;
  align-self: center;
}

.line2 {
  width: 20%;
  height: 2px;
  margin: 10px auto;
  border-color: black;
  background: black;
}

.kontakt {
  display: flex;
}

.kontakt p {
  font-size: 150%;
  text-align: left;
}

.kontakt li {
  font-size: 100%;
  list-style: none;
}

.kontakter {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

.kontakter1 {
  align-items: center;
  margin: auto;
}

.Anna {
  width: 30%;
  margin: 4%;
  border-radius: 20px;
  border: solid #ffd5c2;
}

.inrikt {
  font-size: 12px;
  color: #f28f3b;
}

p {
  text-align: center;
  color: #c8553d;
}

.langu {
  color: black;
}

.text {
  font-size: 20px;
  text-decoration: underline;
  color: black;
}

.brödtext {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 20px;
}

.brödtext p {
  text-align: justify;
  font-weight: 550;
}

.erfar {
  margin: 10px;
}

.underskrift {
  width: 100px;
  margin: 10px auto;
}

.line4 {
  border: #c8553d solid;
  height: 500px;
  left: 50%;
  margin: auto;
  top: 0;
}
